.goal {
    padding-bottom: 10px;
}

.checkbox {
    width: 15px;
    height: 15px;
}

.title {
    font-size: 20px;
}

.description {
    font-size: 16px;
    padding-left: 20px;
}

.time {
    font-size: 16px;
    padding-left: 20px;
}

.time:before {
    content: '(';
}

.time:after {
    content: ')';
}